.About {
  max-width: 550px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 10px;
  line-height: 1.5rem;
  color: var(--neutral-50);
}

.AboutTitle {
  font-weight: 500;
  margin: 5px;
  font-size: 1.5rem;
  font-family: Menlo;
}

.AboutDescription {
  font-family: Roboto;
  opacity: 0.8;
  text-align: center;
}

.Introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 170px);
}

.Highlight {
  background-color: var(--primary);
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 13px;
  color: var(--white);
}

.Introduction h4 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 0;
}

.Link {
  padding: 3px 6px;
  font-size: 14px;
  color: var(--neutral-50);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.Link svg {
  margin-right: 5px;
}

.Link:hover {
  opacity: 0.8;
}

.IntroSVG {
  opacity: 0.5;
}

.IntroSVG path {
  fill: var(--neutral-50);
}

.About pre {
  border-radius: 4px;
  padding: 15px !important;
  font-size: 13px;
  line-height: 20px;
}

.About pre {
  text-align: left;
}

.Roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--neutral-300);
  margin-top: 125px;
}

.Roadmap h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: var(--neutral-50);
}

.Roadmap a {
  color: var(--primary);
  text-decoration: none;
}

.Roadmap li svg {
  margin-left: 5px;
  vertical-align: middle;
}

.ZapIcon {
  color: var(--yellow);
}

.RoketIcon {
  color: var(--primary);
}

@media only screen and (max-width: 600px) {
  .About {
    max-width: 450px;
    padding: 10px;
  }
}
