.Button {
  background: #171717;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: #e5e5e5;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.Button:hover {
  background: #404040;
}
