.Button {
  background: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.Button:hover {
  opacity: 0.8;
}

.Ghost {
  background: none;
  color: var(--neutral-50);
}

.Ghost:hover {
  background: none;
  color: var(--neutral-200);
}

.Secondary {
  background: var(--secondary);
}
