.DropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 180px;
  margin: 0 auto;
  margin-top: 80px;
  background: #262626;
  border: 1px dashed #737373;
  border-radius: 5px;
}

.DropZoneText {
  color: #e5e5e5;
  font-size: 1rem;
}
