.DropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 180px;
  margin: 0 auto;
  margin-top: 80px;
  background: var(--neutral-800);
  border: 1px dashed var(--neutral-500);
  border-radius: 5px;
}

.DropZoneText {
  color: var(--neutral-200);
  font-size: 1rem;
}
