.Tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  border-bottom: 1px solid var(--neutral-700);
  cursor: pointer;
}

.Tab {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  user-select: none;
  margin: 0 8px;
  opacity: 0.6;
}

.Tab:hover {
  opacity: 1;
}

.Tab > span {
  background: none;
  margin-left: 5px;
}

.TabContent {
  padding: 20px;
}

.ActiveTab {
  border-bottom: 2px solid var(--primary);
  opacity: 1;
  font-weight: bold;
}
