.HoverScopeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  pointer-events: none;
}

.HoverScopeAnimation {
  width: 50px;
  height: 50px;
  background: var(--neutral-900);
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 20px 60px var(--neutral-900);
  pointer-events: none;
}
