.LandingSection {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 50px 0;
  line-height: 1.5rem;
  color: var(--neutral-50);
  text-align: center;
}

.Header {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px;
}

.Highlight {
  background-color: var(--neutral-500);
  padding: 3px 5px;
  border-radius: 5px;
}

.LandingSection span {
  background-color: var(--primary);
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 13px;
  color: var(--white);
}

.LandingSection h4 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 0;
}

.LandingSection a {
  padding: 3px 6px;
  font-size: 14px;
  color: var(--primary);
  text-decoration: none;
}
