.LandingSection {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  line-height: 1.5rem;
  color: var(--neutral-50);
  text-align: center;
}

.Header {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 10px;
}

.Highlight {
  background-color: var(--neutral-500);
  padding: 3px 5px;
  border-radius: 5px;
}
