.IconPreviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IconPreview {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin: 10px;
  background: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  outline: 1px solid transparent;
  position: relative;
}

.IconPreview:hover {
  background: var(--neutral-600);
}

.IconSelected {
  border: 2px solid var(--green);
  outline: none;
}

.CheckedIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  padding: 4px;
  border-radius: 50px;
  color: var(--white);
  background: var(--green);
}

.RemoveIcon {
  composes: CheckedIcon;
  background: var(--red);
  cursor: pointer;
  visibility: hidden;
}

.IconPreview:hover > .RemoveIcon {
  visibility: visible;
}

.IconPreviewInput {
  width: 100%;
  background: none;
  text-align: center;
  height: 30px;
  outline: 0;
  border: 0;
  color: var(--neutral-50);
}

.IconPreviewSvgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconPreviewSvgWrapper svg {
  color: var(--neutral-50);
}
