.Container {
  margin: 0 auto;
  max-width: 470px;
  text-align: center;
}

.ButtonWrapper {
  display: inline;
  padding: 20px;
}

.Line p {
  border-bottom: 1px solid var(--neutral-300);
  color: var(--neutral-200);
  margin: 30px 0;
}

.Line p span {
  background-color: var(--neutral-900);
  position: relative;
  top: 10px;
  left: 5px;
  padding: 0 20px;
}
