.Container {
  margin: 0 auto;
  max-width: 470px;
  text-align: center;
}

.ButtonWrapper {
  display: inline;
  padding: 20px;
}

.Line p {
  border-bottom: 1.5px solid var(--color-7);
  color: var(--color-8);
  margin: 30px 0;
}

.Line p span {
  background-color: var(--color-1);
  position: relative;
  top: 10px;
  left: 5px;
  padding: 0 20px;
}
