.Upload {
  margin: 5px;

  &Input {
    display: none;
  }

  &Button {
    padding: 6px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: #aaa;
    }
  }

  &Icon {
    margin-right: 10px;
  }
}
