.IconPreviewArea {
  background: var(--neutral-900);
  padding: 50px 0;
}

.SelectionCount {
  color: var(--neutral-50);
  margin: 0 50px;
}

.IconList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  border: 1px dashed var(--neutral-700);
  padding: 30px 20px;
  border-radius: 5px;
}

.IconList svg {
  max-width: 40px;
  max-height: 40px;
}

.Actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.NoIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--neutral-50);
  gap: 20px;
  border: 1px dashed var(--neutral-700);
  padding: 40px 20px;
  border-radius: 5px;
}
