.IconPreviewArea {
  background: var(--neutral-900);
  padding: 50px 0;
}

.SelectedCount {
  color: var(--neutral-50);
  margin: 0 50px;
}

.IconList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.IconList svg {
  max-width: 40px;
  max-height: 40px;
}
