.Overlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.DialogBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Roboto;
  font-weight: 400;
}

.DialogContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 420px;
  padding: 30px 40px;
  background-color: var(--neutral-800);
  border-radius: 4px;
}

.DialogText {
  color: var(--neutral-50);
}

.DialogButtons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 30px;
}

.DialogOpen {
  display: block;
}

.DialogOpen .DialogBox {
  animation: var(--animate-zoomIn) 0.3s;
}
