.Header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 20px;
}

.Menu {
  display: flex;
}

.SocialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  color: var(--color-7);
}

.SocialLink svg {
  margin-right: 5px;
}
