.Header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 20px;
  width: 100%;
}

.Menu {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 14px;
}

.SocialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  color: var(--neutral-50);
}

.SocialLink svg {
  margin-right: 5px;
}

.Logo {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;
  position: relative;
}

.Logo::before {
  content: "beta";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  left: 60px;
  font-size: 11px;
  font-weight: normal;
  border-radius: 5px;
  padding: 3px 6px;
  color: var(--white);
  background: var(--red);
}
