.Header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 20px;
  width: 100%;
  font-family: Menlo;
}

.Menu {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 14px;
}

.SocialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--neutral-50);
}

.SocialLink svg {
  margin-right: 5px;
}

.Logo {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;
  position: relative;
}

.RouteLinks a {
  color: var(--neutral-50);
  margin: 0 10px;
  text-decoration: none;
}

.RouteLinks a:hover,
.RouteLinks .ActiveLink,
.SocialLink:hover {
  color: var(--primary);
}

.Logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
}

.ImportButton {
  font-size: 13px !important;
  margin-left: 10px;
}

.ImportIcon {
  display: none;
}

@media only screen and (max-width: 450px) {
  .ImportIcon {
    display: block;
    margin-left: 10px;
    color: var(--primary);
  }

  .ImportButton {
    display: none;
  }
}
