.Switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.SwitchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-50);
  transition: 0.4s;
  border-radius: 17px;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--neutral-900);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.SwitchInput:checked + .Slider {
  background-color: var(--neutral-50);
}

.SwitchInput:focus + .Slider {
  box-shadow: 0 0 1px var(--neutral-50);
}

.SwitchInput:checked + .Slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
