@font-face {
  font-family: "Menlo";
  src: local("Menlo"), url(assets/fonts/Menlo-Regular.ttf) format("truetype");
}

:root {
  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --neutral-600: #525252;
  --neutral-500: #737373;
  --neutral-300: #d4d4d4;
  --neutral-200: #e5e5e5;
  --neutral-50: #fafafa;
  --white: #ffffff;
  --gray: #525252;
  --green: #4ade80;
  --red: #ef4444;
}

[data-theme="light"] {
  --neutral-900: #ffffff;
  --neutral-800: #f5f5f5;
  --neutral-700: #262626;
  --neutral-600: #e5e5e5;
  --neutral-500: #d4d4d4;
  --neutral-200: #525252;
  --neutral-50: #171717;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--neutral-900);
}

* {
  font-family: "Menlo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
